body {
    background: rgb(135,15,88);
    background: linear-gradient(90deg, rgba(135,15,88,1) 35%, rgba(18,20,108,1) 100%); 
}

.page-header, 
.basic-info {
    background: rgb(135,15,88);
    background: linear-gradient(90deg, rgba(135,15,88,1) 35%, rgba(18,20,108,1) 100%);    
}


#logo {
    width: 100px;
    height: 100px;
}


.header-links {
    float: right;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.header-links a {
    color: gray;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#short-description {
    color: gray;
}


.basic-info {
    display: flex;
    height: 160px;
}


.text {
    width: 50%;
    padding: 5px 10px 5px 20px;
    color: #fff;
}


.business-image {
    width: 50%;
    height: 100px;
}


#image {
    width: 80%;
    height: 150px;
    padding-bottom: 0px;
}


#get-started {
    color: #0c3a78;
    font-weight: bolder;
}


#service-info {
    text-align: center;
    color: #fff;
    text-decoration: underline;
}


.services {
    display: flex;
    justify-content: space-evenly;
    color: gray;
}


.services figure img {
    width: 250px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}


.services {
    margin: auto;
}

.service {
    color: #fff;
}


.services figure figcaption, 
.services figure p {
    text-align: center;
}


.feedback {
    padding: 10px 20% 10px 20%;
}

.feedback #testimonial {
    color: gray;
}


.feedback #client {
    text-align: right;
    font-weight: bold;
    color: white;
}

.sign-up-call {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sign-up-call #get-in-touch {
    color: white;
}


.sign-up-call button {
    color: #0c3a78;
    font-weight: bolder;
}

